@font-face {
    font-family: 'KCC PakKyongni';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/KCCPakKyongni/KCCPakKyongni.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/KCCPakKyongni/KCCPakKyongni.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/KCCPakKyongni/KCCPakKyongni.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/KCCPakKyongni/KCCPakKyongni.ttf') format('truetype');
}
